airflow/logs/
airflow/dags/__pycache__/

clean-nan-csv-service/app/__pycache__/
delete-columns-csv-service/app/__pycache__/
get-columns-csv-service/app/__pycache__/
read-csv-service/app/__pycache__/
upload-file/app/__pycache__/